@{
    Layout = "./_Layout.cshtml";

    MVC4Base.Models.PagingModel pagingModel = (MVC4Base.Models.PagingModel)ViewData["pagingModel"];
    
    System.Data.DataRowCollection rows = ViewData["DataSet"] != null ? ((System.Data.DataSet)ViewData["DataSet"]).Tables[0].Rows : null;
    Decimal totalCount = ViewData["DataSet"] != null ? Decimal.Parse(((System.Data.DataSet)ViewData["DataSet"]).Tables[1].Rows[0][0].ToString()) : 0;
}

<!--타이틀, 네비게이터-->
<div class="sub_title">
    <h2>
        메인코드 관리</h2>
    <ul>
        <li class="navi_home"></li>
        <li>코드 관리</li>
        <li class="navi_on">메인코드 관리</li>
    </ul>
</div>
<!--//타이틀, 네비게이터-->

@using (Html.BeginForm("MainCodeList", "Admin", new { ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new { id = "searchForm" }))
{
    @Html.Hidden("titleYN", ViewData.Eval("titleYN"));
    <!--상단버튼영역,board.css-->
    <div class="top_btn">
        <div class="ri">
            <div class="btn_list">
                <a href="javascript:document.getElementById('searchForm').submit()">
                    <span>
                        
                        <img src="/Content/img/btn/btn_top_inquiry.gif" width="23" height="20" alt="검색" /></span>
                        <span>검색</span>
                </a>
            </div>
        </div>
    </div>
    <!--//상단버튼영역-->

    <!--조회조건 박스, board.css-->
    <table class="box" cellspacing="0" cellpadding="0">
        <tr>
            <td class="box_t01">
            </td>
            <td class="box_t02">
            </td>
            <td class="box_t03">
            </td>
        </tr>
        <tr>
            <td class="box_le">
                &nbsp;
            </td>
            <td class="box_cen">
                <table class="box_cont" cellspacing="0" cellpadding="0">
                    <col width="80px" />
                    <col width="" />
                    <col width="" />
                    <tr>
                        <th>
                            @Html.Label("mainCode", "메인코드")
                        </th>
                        <td>
                            @Html.TextBox("mainCode", ViewData.Eval("mainCode"),
                            new { 
                                Class = "input_border", 
                                id = "txtSearchValue", 
                                onchange = "$('#hhdCurrentPageIndex').attr('value','1');",
                                maxlength = "20"
                            })
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="box_ri">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="box_f01">
            </td>
            <td class="box_f02">
            </td>
            <td class="box_f03">
            </td>
        </tr>
    </table>
    <!--//조회조건 박스-->

    <!-- 리스트영역 시작 -->
    <table id="tbList" class="list" cellspacing="0" cellpadding="0">
        <colgroup>
            <col width="25px" />
            <col width="30px" />
            <col width="150px" />
            <!-- 메인코드 -->
            <col width="150px" />
            <!-- 코드명 -->
            <col width="70px" />
            <!-- 사용유무 -->
            <col width="70px" />
            <!-- 정렬순서 -->
            <col width="" />
            <!-- 설명 -->
        </colgroup>
        <thead>
            <tr>
                <th class="list_le">
                    <input onclick="$('input[name=chkCheck]').attr('checked', this.checked);" style="padding: 0;
                        margin-top: -2px;" type="checkbox" />
                </th>
                <th>
                    No
                </th>
                <th>
                    메인코드
                </th>
                <th>
                    코드명
                </th>
                <th>
                    사용
                </th>
                <th>
                    정렬
                </th>
                <th>
                    설명
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="7">
                </td>
            </tr>
        </tfoot>
        <tbody>
            @if (rows == null || rows.Count == 0)
            {
                    <tr>
                        <td colspan="7" class="list_le">
                            데이터가 없습니다.
                        </td>
                    </tr>
            }
            else
            {
                int iCount = 0;
                foreach (System.Data.DataRow row in rows)
                {
                    iCount++;
                    
                    <tr style="cursor: pointer" onmousedown="WebControl.SelectedRow(this);"
                        onmouseover="WebControl.FocusRow(this, 'over');" onmouseout="WebControl.FocusRow(this, 'out');"
                        @if (iCount % 2 == 1)
                        {<text> class="tr_bg"</text>} isalternat="@(iCount % 2)">
                        <td class="list_le">
                            <input type="checkbox" name="chkCheck" style="padding: 0; margin-top: -2px;" />
                        </td>
                        <td>
                            @row["RowNo"].ToString()
                        </td>
                        <td style="text-align: left;">
                            @row["MainCode"].ToString()
                        </td>
                        <td style="text-align: left;">
                            @row["CodeName"].ToString()
                        </td>
                        <td>
                            @row["UseYN"].ToString()
                        </td>
                        <td>
                            @row["SortOrder"].ToString()
                        </td>
                        <td style="text-align: left;">
                            @row["Description"].ToString()
                        </td>
                    </tr>
                }
            }


        </tbody>
    </table>
    <!-- 리스트 끝 -->
    <!--페이지 리스트 버튼-->
    <div class="list_btn">
        <div id="pglist" style="text-align:center">
            @Html.Hidden("pagingModel.PageIndex", pagingModel.PageIndex, new { id = "hhdCurrentPageIndex" })
            <table style="width:100%">
                <tbody>
                    <tr>
                        <td style="padding-bottom: 2px; vertical-align: bottom" width="25%" align="left">
                            <span style="font-family: 굴림; font-size: 9pt">총 @string.Format("{0:###,##0}", totalCount) 건</span>
                            <span style="font-family: 굴림; font-size: 9pt">&nbsp;(@(pagingModel.PageIndex)/@(pagingModel.PageCount.ToString()))</span>
                        </td>
                        <td style="text-align:center">
                            @if (pagingModel.PageIndex > 1)
                            { 
                            <input style="margin-bottom: -3px" src="/Content/img/board/btn_front.gif" type="image" 
                            title="처음" onclick="$('#hhdCurrentPageIndex').attr('value','1')" />
                            <span>&nbsp;</span>
                            <input style="margin-bottom: -3px" class="aspnetdisabled" src="/Content/img/board/btn_pre.gif" type="image" 
                            title="이전 10페이지" onclick="$('#hhdCurrentPageIndex').attr('value','@pagingModel.PrevStart')" />
                            <span style="color: #d7d7d7">&nbsp;|&nbsp;</span>
                            }
                            else
                            {
                            <input style="margin-bottom: -3px" src="/Content/img/board/btn_front.gif" type="image" title="처음"/>
                            <span>&nbsp;</span>
                            <input style="margin-bottom: -3px" class="aspnetdisabled" src="/Content/img/board/btn_pre.gif" type="image" title="이전" />
                            <span style="color: #d7d7d7">&nbsp;|&nbsp;</span>
                            }
                            @for (Decimal i = pagingModel.PageStart; i <= pagingModel.PageEnd; i++)
                            {   
                            <a style="font-family: 굴림; color: @(i == pagingModel.PageIndex ? "#f98217" : "black"); font-size: 9pt; font-weight: @(i == pagingModel.PageIndex ? "bold" : "normal"); text-decoration: none;" 
                            href="#" onclick="javascript:$('#hhdCurrentPageIndex').attr('value','@i');document.getElementById('searchForm').submit();return false;">@i</a>
                            <span style="color: #d7d7d7">&nbsp;|&nbsp;</span>
                            }
                            @if (pagingModel.PageIndex != pagingModel.PageCount)
                            { 
                            <input style="margin-bottom: -3px" class="aspnetdisabled" src="/Content/img/board/btn_next.gif" type="image"
                            title="다음 10 페이지" onclick="$('#hhdCurrentPageIndex').attr('value','@pagingModel.NextStart')" />
                            <span>&nbsp;</span>
                            <input style="margin-bottom: -3px" src="/Content/img/board/btn_end.gif" type="image" 
                            title="마지막" onclick="$('#hhdCurrentPageIndex').attr('value','@pagingModel.PageCount')" />
                            <span>&nbsp;</span>
                            }
                            else
                            {
                            <input style="margin-bottom: -3px" class="aspnetdisabled" src="/Content/img/board/btn_next.gif" type="image" title="다음" />
                            <span>&nbsp;</span>
                            <input style="margin-bottom: -3px" src="/Content/img/board/btn_end.gif" type="image" title="마지막" />
                            <span>&nbsp;</span>
                            }
                        </td>
                        <td width="25%">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btn_right">
            @Html.DropDownList("pagingModel.PageSize", new List<SelectListItem>(){
                new SelectListItem(){Text="10", Value="10"},
                new SelectListItem(){Text="30", Value="30"},
                new SelectListItem(){Text="50", Value="50"}
            }, new { id = "ddlListPerPage", onchange = "$('#hhdCurrentPageIndex').attr('value','1');document.getElementById('searchForm').submit();return false;" })
        </div>
    </div>
    <!--// 페이지 리스트 버튼 -->
}
    <!-- 데이타의 C,U,D 상태를 나타냅니다. -->
    <div style="position: fixed">
        @Html.Hidden("hhsStatus", "I")
    </div>
    <!-- 리스트영역 종료 -->

    <!-- 상세영역 시작 -->
    <h3>
        메인코드 상세보기</h3>
    <table id="htblDetail" class="sub_table" cellspacing="0" cellpadding="0">
        <colgroup>
            <col style="width: 100px;" />
            <col  />
            <col style="width: 100px;" />
            <col style="width: 50px;" />
        </colgroup>
        <tr>
            <th class="list_le">
@*                @Html.LabelFor(n=>n.MainCode)*@
            </th>
            <td>
@*                @Html.TextBoxFor(n => n.MainCode, 
                            new { 
                                Class = "input_border",
                                id = "txtMainCode", 
                                maxlength = "20"
                            })*@
            </td>
            <th>
                사용여부
            </th>
            <td>
                <nwc:NeoplusCheckBox ID="chkUseYN" runat="server" SourceField="UseYN" />
            </td>
        </tr>
        <tr>
            <th class="list_le" >
                <asp:Literal ID="Literal6" runat="server" Text='<%$ Resources:CommonResource, COM_CodeName %>'></asp:Literal>
            </th>
            <td>
                <nwc:NeoplusTextBox ID="txtCodeName" runat="server" SourceField="CodeName" PK="False"
                    Description='<%$ Resources:CommonResource, COM_CodeName %>' onFocus="False" Required="False"
                    IMEMODE="None" CssClass="input_border" MaxLength="100" Width="90%"></nwc:NeoplusTextBox>
                <a href="#" onclick="Common.MultiLanguageInput('txtCodeName','hidCodeNameLang');return false;">
                    <img src="/WebCommon/img/btn/btn_list_languages.gif" width="20" height="20" alt="View" /></a>
                <input id="hidCodeNameLang" runat="server" sourcefield="CodeNameLang" type="hidden" />
            </td>
            <th>
                <asp:Literal ID="Literal8" runat="server" Text='<%$ Resources:CommonResource, COM_SortSEQ %>'></asp:Literal>
            </th>
            <td>
                <nwc:NeoplusTextBox ID="txtSortSEQ" runat="server" SourceField="SortSEQ" PK="False"
                    Description='<%$ Resources:CommonResource, COM_SortSEQ %>' onFocus="False" Required="False"
                    IMEMODE="None" CssClass="input_border" MaxLength="4" Width="20px"></nwc:NeoplusTextBox>
            </td>
        </tr>
        <tr>
            <th class="list_le" >
                <asp:Literal ID="Literal9" runat="server" Text='<%$ Resources:CommonResource, COM_Description %>'></asp:Literal>
            </th>
            <td colspan="3">
                <nwc:NeoplusTextBox ID="txtDescription" runat="server" SourceField="Description"
                    PK="False" Description='<%$ Resources:CommonResource, COM_Description %>' onFocus="False"
                    Required="False" IMEMODE="None" CssClass="input_border" MaxLength="3000" Width="98%"></nwc:NeoplusTextBox>
            </td>
        </tr>
    </table>
    <!-- 상세영역 종료 -->
    <!-- 버튼영역 시작 -->
    <!--리스트 하단버튼영역,board.css-->
    <div class="foot_btn">
        <div class="ri">
            <div class="btn">
                <a href="#" onclick="return false;"><span>
                    <img src="/Content/img/btn/btn_new.gif" width="30" height="30" alt="New" /></span><p>추가</p>
                </a>
            </div>
            <div class="btn">
                <a href="#" onclick="return false;">
                    <span>
                        <img src="/Content/img/btn/btn_save.gif" width="30" height="30" alt="Save" /></span><p>저장</p>
                </a>
            </div>
            <div class="btn">
                <a href="#" onclick="return false;">
                    <span>
                        <img src="/Content/img/btn/btn_del.gif" width="30" height="30" alt="Delete" /></span><p>삭제</p>
                </a>
            </div>
        </div>
    </div>
    <!--//리스트 하단버튼영역-->
    <!-- 버튼영역 종료 -->

