<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Neoplus")
</head>
<body>
    <!--전체 감싸기/상단백그라운드-->
    <div class="wrap">
        <!--콘텐츠 가운데 정렬-->
        <div class="cen">
            <h1>
                <a href="@Url.Action("Index", "Home")">
                    <img src="/Content/img/common/logo.gif" width="175" height="44" alt="메인화면으로 이동" /></a></h1>
            <!--top-->
            <div class="top">
                <!--상단 바로가기-->
                <ul class="top_info">
                    <li class="none_bg"><a href="#none">
                        <img src="/Content/img/btn/ko-kr/logout.gif" width="55" height="16" class="logout" /></a></li>
                    <li class="none_bg"><a href="#none">관리자</a></li>
                    <li><a href="#none">환경설정</a></li>
                    <li><a href="#none">직원검색</a></li>
                    <li><a href="#none">언어선택</a><img src="/Content/img/Curtureflags/16/ko-KR.gif" class="flag" /></li>
                </ul>
                <!--//상단 바로가기-->
                <div style="clear: both; width: 100%;">
                    @Html.Partial("_TopMenu")
                    <!--검색-->
                    <ul class="search_box">
                        <li>
                            <img src="/Content/img/common/top_search_le.gif" width="12" height="31" /></li>
                        <li>
                            <input type="text" value="검색어를 입력하세요." /></li>
                        <li class="ri"><a href="">
                            <img src="/Content/img/common/top_search_ri.gif" width="34" height="31" /></a></li>
                    </ul>
                    <!--//검색-->
                </div>
            </div>
            <!--//top-->
            <p class="clear">
            </p>
            <!--좌측 메뉴영역-->
            <div class="left">
                @Html.Partial("_LeftLoginInfo")
                @Html.Partial("_LeftMenu")
                <select>
                    <option>관련 사이트 바로가기</option>
                </select>
            </div>
            <!--//좌측 메뉴영역-->
            <!--본문 영역-->
            <div class="sub_wrap">
                <!--타이틀, 네비게이터-->
                <div class="sub_title">
                    <h2>
                        My Info</h2>
                    <ul>
                        <li class="navi_home"></li>
                        <li>My Page</li>
                        <li class="navi_on">My Info</li>
                    </ul>
                </div>
                <!--//타이틀, 네비게이터-->
                <!--상단버튼영역,board.css-->
                <div class="top_btn">
                    <div class="ri">
                        <!--<div class="btn_list"><a href=""><span><img src="/Content/img/btn/btn_top_inquiry.gif" width="23" height="20" /></span><span>조회</span></a></div>-->
                    </div>
                </div>
                <!--//상단버튼영역-->
                @RenderBody()
            </div>
            <!--//본문 영역-->
        </div>
        <!--//콘텐츠 가운데 정렬-->
        <!--footer-->
        <div class="footer_wrap">
            <div class="footer">
                <h1>
                    <img src="/Content/img/common/footer_logo.gif" width="137" height="28" /></h1>
                <p>
                    <img src="/Content/img/common/ko-kr/copyright.gif" width="355" height="28" /></p>
            </div>
        </div>
        <!--//footer-->
    </div>
    <!--//전체 감싸기-->
    @Html.Partial("_DebugWindowPartial")
</body>
</html>
