@{
    MVC4Base.Models.UserInfo userInfo = MVC4Base.Models.AuthManager.UserInfomation;   
}

@if (userInfo.IsLoginUser)
{
    <text>
        Hello, @userInfo.UserID (@userInfo.UserName, @userInfo.LoginTime)!
        @using (Html.BeginForm("LogOff", "Member", FormMethod.Post, new { id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Member", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Member", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
